<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>henews_swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D386A6ED1DBDD2B700EFF08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D386A7011DBDD2B700EFF08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D386A70C1DBDD2B800EFF08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
